<% provide(:title, "Home") %>
<div class ="container">
  <div class="jumbotron">
   <h1 class="display-4">ようこそ!</h1>
   <p class="lead">あなたのお気に入りの料理をみんなで共有しよう。そうすれば世界が広がるはずです。</p>
   <hr class="my-4">
   <p>さっそく新規登録、ログインをしてサービスを利用しよう。かんたんログイン機能を使えば登録せずにすぐにサービスを活用できます。</p>
   <a class="btn btn-primary btn-lg" href="#" role="button">新規登録</a>
   <a class="btn btn-primary btn-lg" href="#" role="button">ログイン</a>
   <a class="btn btn-primary btn-lg" href="#" role="button">かんたんログイン</a>
 </div>
</div>
