<h1>Users#show</h1>
<p>名前 : <%= @user.name %></p>
<p>メールアドレス : <%= @user.email %></p>
<%=link_to "編集",edit_user_registration_path,class: 'btn btn-primary btn-lg',role: 'button' %>
<%=link_to "ログアウト",destroy_user_session_path,method: :delete,class: 'btn btn-primary btn-lg',role: 'button' %>
