<% @user ||= current_user %>
<div class="container mb-5">

  <a href="<%= following_user_path(@user) %>">
    
      <%= @user.following.count %>
     
    フォロー
  </a>
  <a href="<%= followers_user_path(@user) %>">
    <span id="followers">
     <%= @user.followers.count %>
    </span>
      
    
    フォロワー
  </a>
   
</div>