<% @user ||= current_user %>
<div class="container mb-5">

  <a>
  
  <%=link_to "#{@user.following.count}フォロー", following_user_path(@user),class: "btn btn-secondary" %>
    
     
    
  
 
    <span id="followers">
    <%=link_to "#{@user.followers.count}フォロワー", followers_user_path(@user),class: "btn btn-secondary"%>
     </span>
    
    
  </a>
   
</div>