<div class="container">
  <div class="row">
        <div class="col-12 text-center">
<%= image_tag @micropost.picture.url, class:'bd-placeholder-img card-img-top' , size: '700x700' if @micropost.picture? %><br/>
<%= @micropost.content %><br/>
<%= link_to "戻る", :back %>

</div>
</div>
</div>
