<div class="container pt-5">


    <div class= "text-center">
     <%= link_to "TOP", { anchor: "top" }, class: "btn btn-secondary btn-lg" ,tabindex: "-1", role: "button" %>
     <%= link_to "HOME", root_path , class: "btn btn-secondary btn-lg" ,tabindex: "-1", role: "button" %>
    </div>


</div>
