<div class="container pt-5">


    <div class= "text-center">
     <%= link_to "上へ", { anchor: "top" }, class: "btn btn-dark btn-lg" ,tabindex: "-1", role: "button" %><br>
     <%= link_to "HOME", root_path , class: "btn btn-dark btn-lg mt-3" ,tabindex: "-1", role: "button" %>
    </div>


</div>
